<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoApp</title>
</head>
<body>
    <h1><%= currentDate %></h1>

    <form id="loginformA" action="/" method="post">
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email"></input>
        </div>
    <input type="submit" value="Submit"></input>
    </form>
</body>
</html>